@import url("https://use.typekit.net/nlp4hwr.css");

html,
body {
  font-family: futura-pt, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  margin-top: 5vh;
}

:root{
  --main-blue: #005596;
  --main-yellow: #E7A614;
}



